body{
    background: url('https://wallpapercave.com/wp/wp5600961.jpg');
    width: 100%;
    font-family:'Roboto', sans-serif;
    text-decoration-color: aliceblue;
}
h1{text-align: center;
color: aliceblue;}


.vertical-center{
    text-align: center;
}

#btn{
    width: 30%;
    height: 100px;
    font-size: 30px;
    border-radius: 50%;
    border-style: none;
    box-shadow: 0 0 15px 10px #7a4ee063;
}

.fieldClass{
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 40%; 
    padding: 5px;
    font-size: 20px;
}

.field2Class{
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 40%;
    padding: 5px;
    font-size: 20px;
}

h2{
    text-align: center;
    color: aliceblue;
}


.submit1{
    display: block;
    text-align: center;
    margin: 0 auto;
}


.botonSubmit{
    
    display: block;
    text-align: center;
    margin: 0 auto;
}

.submitreal{
    
    display: block;
    text-align: center;
    margin: 0 auto;
}